In [7]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [8]:
df = pd.read_csv('data/stud.csv')

In [9]:
df.head(5)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

## Data Checks to be performed

In [13]:
df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

### There is no missing values in the dataset

In [15]:
df.duplicated().sum()

0

### There is no duplicate values in dataset

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [19]:
df.nunique()

gender                          2
race/ethnicity                  5
parental level of education     6
lunch                           2
test preparation course         2
math score                     81
reading score                  72
writing score                  77
dtype: int64

In [20]:
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [26]:
print('Gender categories', df['gender'].unique())
print('Lunch Categories', df['lunch'].unique())
print('Parents Education level', df['parental level of education'].unique())
print('Race of student', df['race/ethnicity'].unique())
print('Test Preparation Course taken or not', df['test preparation course'].unique())

Gender categories ['female' 'male']
Lunch Categories ['standard' 'free/reduced']
Parents Education level ["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']
Race of student ['group B' 'group C' 'group A' 'group D' 'group E']
Test Preparation Course taken or not ['none' 'completed']

In [27]:
numeric_cols = [ feature for feature in df.columns if df[feature].dtype != 'O']
categorical_cols = [ feature for feature in df.columns if df[feature].dtype == 'O']

print('Numeric Columns are', numeric_cols)
print('Categorical Columns are', categorical_cols)

Numeric Columns are ['math score', 'reading score', 'writing score']
Categorical Columns are ['gender', 'race/ethnicity', 'parental level of education', 'lunch', 'test preparation course']

# Adding Columns for Total Score and Average Score (Feature Engineering)

In [29]:
df['Total_Score'] = df['math score'] + df['reading score'] + df['writing score']
df['Average_Score'] = df['Total_Score'] / 3
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,Total_Score,Average_Score
0,female,group B,bachelor's degree,standard,none,72,72,74,218,72.666667
1,female,group C,some college,standard,completed,69,90,88,247,82.333333
2,female,group B,master's degree,standard,none,90,95,93,278,92.666667
3,male,group A,associate's degree,free/reduced,none,47,57,44,148,49.333333
4,male,group C,some college,standard,none,76,78,75,229,76.333333

In [39]:
math_full = len(df[df['math score'] == 100])
writing_full = len(df[df['writing score'] == 100])
reading_full = len(df[df['reading score'] == 100])
print('Students with full marks in maths', math_full)
print('Students with full marks in Writing', writing_full)
print('Students with full marks in Reading', reading_full)

Students with full marks in maths 7
Students with full marks in Writing 14
Students with full marks in Reading 17

14